<html>
    <head>

    </head>

    <body>
        <h1>Sign up form</h1>
        <div>
            <input type="text" id="first_name" required="required" placeholder="First Name">
            <input type="text" id="last_name" required="required" placeholder="Last Name">
            <input type="text" id="email" required="required" placeholder="Google Email">
            <input type="text" id="phone" required="required" placeholder="Phone Number">
            <input type="text" id="password" required="required" placeholder="Password">
        </div>
    </body>
</html>